:root {
    --colorElms-100: rgb(0, 71, 49);
    --colorElms-90: rgba(0, 71, 49, 0.9);
    --colorElms-80: rgba(0, 71, 49, 0.8);
    --colorElms-70: rgba(0, 71, 49, 0.7);
    --colorElms-60: rgba(0, 71, 49, 0.6);
    --colorBlack-100: rgba(0, 0, 0, 1);
    --colorBlack-95: rgba(0, 0, 0, 0.95);
    --colorBlack-90: rgba(0, 0, 0, 0.9);
    --colorBlack-85: rgba(0, 0, 0, 0.85);
    --colorBlack-80: rgba(0, 0, 0, 0.8);
    --colorBlack-75: rgba(0, 0, 0, 0.75);
    --colorBlack-70: rgba(0, 0, 0, 0.7);
    --colorBlack-65: rgba(0, 0, 0, 0.65);
    --colorBlack-60: rgba(0, 0, 0, 0.6);
    --colorBlack-55: rgba(0, 0, 0, 0.55);
    --colorBlack-50: rgba(0, 0, 0, 0.5);
    --colorBlack-45: rgba(0, 0, 0, 0.45);
    --colorBlack-40: rgba(0, 0, 0, 0.4);
    --colorBlack-35: rgba(0, 0, 0, 0.35);
    --colorBlack-30: rgba(0, 0, 0, 0.3);
    --colorBlack-25: rgba(0, 0, 0, 0.25);
    --colorBlack-20: rgba(0, 0, 0, 0.2);
    --colorBlack-15: rgba(0, 0, 0, 0.15);
    --colorBlack-10: rgba(0, 0, 0, 0.1);
    --colorBlack-5: rgba(0, 0, 0, 0.05);
    --colorBlack-0: rgba(0, 0, 0, 0);

}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vw;
    /* background-image: url("/assets/images/AdobeStock_437824508.jpeg"); 
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    */
    color: black;
    background-color: white;
}

footer {
    height: 200px;
}

/* Nav */
.navbar {
   
    padding-left: 1vw;
    padding-right: 1.5vw;
    width: 120px;
    border-radius: 0 0 10px;
    background-color: rgba(255, 255, 255, 0);
    --bs-navbar-toggler-icon-bg: white !important;
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.486);
}
.navbar-toggler {
    background-color: rgb(255, 255, 255) !important;
    
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


/* Index */


/* Faculty */
.nav {
    --bs-nav-link-color: rgba(0, 0, 0, 0.895);
    --bs-nav-link-hover-color: rgb(0, 0, 0);
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-padding-x: 0;
}
.nav-underline {
    --bs-nav-underline-gap: 1vw;
    --bs-nav-underline-border-width: 2px;
    --bs-nav-underline-link-active-color: var(var(--colorElms-100));
}

/* Programs Section */
#programs_header:after {
    content: ""; 
    display: block;
    margin: 0 auto; 
    width: 6vw; 
    padding-top: 10px; 
    border-bottom: 3px solid rgba(0, 0, 0, 0.306);
   
}

#cs_triangle {
    position: absolute;
    height: 115px;
    top: 40px;
    left: -10px;
}

#cs_box {
    position: absolute;
    height: 400px;
    top: -60px;
    left: 0;
    z-index: 1;
}

.svg-container {
    position: relative;
}

#Layer_2 {
    position: absolute;
    z-index: -1;
}

/* Utility */
.text_black-90 {
    color: var(--colorBlack-90)
}

.text_black-80 {
    color: var(--colorBlack-80)
}

.text_black-70 {
    color: var(--colorBlack-70)
}

.text_black-60 {
    color: var(--colorBlack-60)
}

.text_black-50 {
    color: var(--colorBlack-50)
}

.parallax-1 {
    position: relative;
    background-image: url("/assets/images/AdobeStock_371462730.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    z-index: -2;
}

.custom-shape-divider-top-1714591362 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1714591362 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.custom-shape-divider-top-1714591362 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1714591251 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1714591251 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
}

.custom-shape-divider-bottom-1714591251 .shape-fill {
    fill: #FFFFFF;
}

.image-422x237 {
    width: 422px;
    height: auto;
}

.left-border {
    border-left: dotted rgba(0, 0, 0, 0.525);
    padding-left: 5px;
}

.right-border {
    border-right: dotted rgba(0, 0, 0, 0.525);
    padding-right: 5px;
}

.responsive_underline:after {
    content: ""; 
    display: block;
    margin: 0 auto; 
    width: 6vw; 
    padding-top: 8px; 
    border-bottom: 3px solid rgba(0, 0, 0, 0.206);
}

.responsive_underline:hover:after {
    width: 7vw;
    border-bottom: 3px solid var(--colorElms-100);
    transition: all 0.3s ease-out;
}

@media screen and (min-width: 750px) {
    .navbar-toggler {
        display: none;
    }
    .navbar-toggler-icon {
        display: block !important;
        margin: 0 auto !;
    }
    .navbar {
       
        background-color: white !important;
    }
}

@media screen and (max-width: 750px) {
 
    .navbar-toggler {
        display: flex !important;
        justify-content: center !important;
    }
    .navbar {
       width: 100%;
        background-color: rgb(116, 116, 116) !important;
    }
    #pageTop {
        margin-top: 65px;
    }
}